
* {
  font-family: 'Amatic SC', cursive;
  color: #332532;
  text-align: center;}
  #nav, #feature, .article, #footer {
  background-color: #A49A87;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;}
  #feature, .article {
  height: 200px;}
  li {
  display: inline;
  padding: 5px;}

#figure {
  float:left;
  width:200px;
  height:200px;
  background: white;
  padding: 10px;
  margin: 10px;
}

#second{
  float:right;
  width:200px;
  height:200px;
  background: white;
  margin: 0px auto;;
  border:1px solid;
}

